<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!-- 移动端访问时页面自适应 -->
    <meta name="viewport" content="width=device-with, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>
<!--导航栏-->
<div th:replace="~{/admin/_fragments::top(ac='home')}"></div>
    <div class="ui menu attached ">
        <div class="ui container">
            <div class="ui right menu pointing">
                <a href="#" class="item">发布</a>
                <a href="#" class="active item teal">列表</a>
            </div>
        </div>
    </div>
<!--中间部分-->
    <div class="m-padded-tb-large">
        <div class="ui container">
            <div class="ui segment form secondary">
                <input type="hidden" name="page">
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="标题">
                    </div>
<!--                    一个下拉选项框-->
<!--                    <div class="field">-->
<!--                       <div class="ui selection dropdown">-->
<!--                           <input type="hidden" value="type" name="typeId" >-->
<!--                           <i class="icon dropdown"></i>-->
<!--                           <div class="default text">分类</div>-->
<!--                           <div class="menu">-->
<!--                               <div  th:each="type : ${types}" class="item" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>-->
<!--                           </div>-->
<!--                       </div>-->
<!--                    </div>-->
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend">
                            <label for="recommend">推荐</label>
                        </div>
                    </div>
                    <div class="field">
                        <button type="button" id="search-button" class="ui basic button teal"><i class="icon search"></i>搜索</button>
                    </div>
                </div>
            </div>
            <div id="table-container">
                <table class="ui table compact teal" th:fragment="bloglist">
                    <thead>
                    <tr>
                        <th></th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>推荐</th>
                        <th>状态</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="blog : ${blogs}">
                        <td th:text="${blog.id}">1</td>
                        <td th:text="${blog.title}">刻意练习清单</td>
                        <td th:text="${blog.type.name}">读后感</td>
                        <td th:text="${blog.recommend}?'是':'否'">是</td>
                        <td th:text="${blog.publish}?'发布':'草稿'">是</td>
                        <td th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd HH:mm')}">2020-04-07</td>
                        <td>
                            <a href="#" th:href="@{/admin/blogs/input/}+${blog.id}" class="ui basic button mini teal">编辑</a>
                            <a href="#" th:href="@{/admin/blogs/delete/}+${blog.id}" class="ui basic button mini red">删除</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui pagination menu mini">
                                <a onclick="page(this)" th:attr="data-page=${blogs.number}-1" class="item" th:unless="${blogs.first}">上一页</a>
                                <a onclick="page(this)" th:attr="data-page=${blogs.number}+1"class="item" th:unless="${blogs.last}">下一页</a>
                            </div>
                            <a th:href="@{/admin/blogs/input}" class="ui button basic teal right floated">新增</a>
                        </th>

                    </tr>
                    </tfoot>
                </table>
                <div class="ui message success" th:if="${msg != null}">
                    <i class="icon close"></i>
                    <div class="header">提示：</div>
                    <p th:text="${msg}"></p>
                </div>
            </div>
        </div>
    </div>
<!--网页底部-->
<div th:replace="~{/admin/_fragments::foot}"></div>

<!--js放在此处加载速度最快-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $("#mb_btn").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $(".ui.dropdown").dropdown({
        on: "hover"
    });
    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    $("#search-button").click(function () {
        $("[name='page']").val(0);
        loaddata();
    });
    function loaddata() {
        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
            title : $("[name='title']").val(),
           // typeId : $("[name='typeId']").val(),
            recommend : $("[name='recommend']").prop('checked'),
            page : $("[name='page']").val()
        });
    }
    $(".message .close").on('click',function () {
        $(this).closest(".message").transition("fade");
    });
</script>
</body>
</html>